$headerHeight: 30px;
$messageContainerHeight: 60px;

$black: #000;
$primary: #e2754d;
$white: #fff;

body {
    margin: 0;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    -ms-overflow-style: none;
}

* { box-sizing: border-box; }

.wrapper {
    width: 100%;
    margin: 0 24px;
}

header {
    width: 100%;
    height: $headerHeight;
    border-bottom: 1px solid $black;
    display: flex;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background: $primary;
    justify-content: space-between;
    align-items: center;

    h1 {
        color: $black;
        font-size: 20px;
        font-weight: bold;
    }
}

.banner {
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 1;
}

.four-circles-animation-container {
    height: calc(100% - $messageContainerHeight);
    border-bottom: 1px solid $black;
    position: relative;
    top: 30px;
    background-color: chocolate;

    .four-circles-animation-inner {
        width: calc(100vh - 60px);
        height: calc(100vh - 60px);
        position: absolute;
        z-index: 3;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &::before {
        content: "";
        width: 100%;
        height: 1px;
        position: absolute;
        z-index: 4;
        top: 50%;
        left: 0;
        background-color: $black;
        transform: translate(0, -50%);
    }

    &::after {
        content: "";
        width: 1px;
        height: 100%;
        position: absolute;
        z-index: 4;
        left: 50%;
        background-color: $black;
        transform: translate(-50%, 0);
    }

    span {
        width: 50%;
        height: 50%;
        border: 1px solid $white;
        border-radius: 50%;
        position: absolute;
        z-index: 5;
    }

    .middle-circle {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.message-container {
    height: $messageContainerHeight;
    background: $primary;
}

.work {
    width: 100%;
    height: 100vh;
    background-color: $white;
    position: relative;
    z-index: 2;
}

.work-content { height: calc(100% - 200px); }

.work-sections li {
    width: 100%;
    height: 50px;
    border-top: 1px solid $black;
}